@media (min-width: @desktop-width) {
	.page-main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		// grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 30px;
		padding: 0 135px;
		margin: 0 auto;
	}

	.page-main__link-event {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 4;
	}


}
